# Dependencies
node_modules
bun.lock
package-lock.json

# Build outputs
dist
target
*.bundle.*

# Tauri
src-tauri/target
src-tauri/gen

# Copilot Speach
CopilotSpeechNew/
SpeechTrainer/

# Misc
.DS_Store
*.log

.github
actions-runner/